<a href="https://colab.research.google.com/github/oyuka1112/oyuka1112/blob/main/dataset1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [36]:
import pandas as pd
from matplotlib import pyplot as plt

In [143]:
#import all the files
contacts = pd.read_excel(r'Df_contacts.txt.xlsx')  #.set_index("CONT_ID") #set index as ID 
mails= pd.read_excel(r'Df_mails.xlsx')  #.set_index("MAIL_ID")
responses= pd.read_excel(r'Df_responses.xlsx')  #.set_index("RESPONSE_ID")
conversions= pd.read_excel(r'Df_conversation.xlsx').set_index("CONV_ID")

In [100]:
contacts.head()

                       NAME         CITY STATE   ZIP5
CONT_ID
1               GINA LAPONE       DALLAS    TX  98004
2               JAMES PAPIA  MIAMI BEACH    NY  39773
3        LAURIN H TEMPLETON       BOSTON    NJ  84404
4              PAUL SWEEZER    LAS VEGAS    NM  46723
5                A NAGAMINE  SAINT LOUIS    MO  28356

In [102]:
mails.head()

         CONT_ID  MAIL_MONTH  MAIL_DATE
MAIL_ID
1             35           6 2016-06-12
2             50          10 2017-10-27
3            148          11 2017-11-21
4            121           3 2018-03-16
5             28           5 2015-05-22

In [105]:
responses.head()

             MAIL_ID  RESP_DATE
RESPONSE_ID
1                 10 2019-12-10
2                205 2019-01-04
3                176 2019-03-21
4                166 2019-04-21
5                160 2019-12-13

In [109]:
conversions.head()

         RESPONSE_ID  CONV_DATE
CONV_ID
1                 11 2020-07-21
2                152 2020-05-25
3                 77 2020-05-23
4                181 2020-03-11
5                 53 2020-03-09

In [95]:
mails.sort_values(by = "MAIL_DATE", axis = 0 )

         CONT_ID  MAIL_MONTH  MAIL_DATE
MAIL_ID
91            45           1 2015-01-01
191           94           1 2015-01-22
216          145           1 2015-01-23
276           55           2 2015-02-04
32           193           2 2015-02-06
...          ...         ...        ...
37           198          12 2018-12-14
99            65          12 2018-12-15
76            40          12 2018-12-19
53           142          12 2018-12-22
300          150          12 2018-12-22

[300 rows x 3 columns]

In [130]:
df1 = conversion.set_index('RESPONSE_ID').join(responses.set_index('RESPONSE_ID')).sort_index()

In [135]:
df2 = df1.set_index('MAIL_ID').join(mails.set_index('MAIL_ID')).sort_index()

In [148]:
df3 = pd.merge(df2, contacts  , on=['CONT_ID'], how='inner')

In [152]:
df3

    CONV_DATE  RESP_DATE  CONT_ID  ...               CITY STATE   ZIP5
0  2020-06-28 2019-07-03       50  ...           OROVILLE    CA  82435
1  2020-08-09 2019-04-15      121  ...            SHAWNEE    MD  23227
2  2020-12-11 2019-12-18       53  ...             RESTON    OH  76513
3  2020-04-02 2019-07-06       62  ...       NORTH CANTON    IL  40505
4  2020-05-18 2019-09-04      171  ...          GIBSONTON    CA  84009
5  2020-07-21 2019-04-11        1  ...             DALLAS    TX  98004
6  2020-11-19 2019-05-07      142  ...          LEXINGTON    GA  75234
7  2020-03-09 2019-12-02       16  ...             BANDON    SC  72956
8  2020-06-09 2019-03-22        5  ...        SAINT LOUIS    MO  28356
9  2020-06-17 2019-12-19        5  ...        SAINT LOUIS    MO  28356
10 2020-12-26 2019-01-28      184  ...    CHICAGO HEIGHTS    NH  32159
11 2020-12-23 2019-05-21      184  ...    CHICAGO HEIGHTS    NH  32159
12 2020-05-27 2019-02-21      159  ...         FORT WORTH    FL  30308
13 2020-01-05 2019-08-02       45  ...          LAS VEGAS    WA  49426
14 2020-08-11 2019-02-18      152  ...             HARVEY    NM  86442
15 2020-06-24 2019-03-16      152  ...             HARVEY    NM  86442
16 2020-06-16 2019-04-07      145  ...           CHANDLER    KS  70764
17 2020-01-22 2019-09-14      172  ...           LOCKHART    MS  50144
18 2020-10-03 2019-09-07       65  ...           NEW YORK    GA  21202
19 2020-06-01 2019-04-06      104  ...            STEVENS    OH  29418
20 2020-11-08 2019-07-28      153  ...            BUFFALO    TX  76262
21 2020-11-03 2019-01-25      168  ...        WINTER PARK    TX  30345
22 2020-05-23 2019-05-27       19  ...        COCOA BEACH    IL   6853
23 2020-09-28 2019-07-13       19  ...        COCOA BEACH    IL   6853
24 2020-05-25 2019-12-11      147  ...               MESA    TX  33484
25 2020-01-11 2019-11-19       72  ...     SAN BERNARDINO    TX  78216
26 2020-03-01 2019-03-25      182  ...    BOILING SPRINGS    GA  94588
27 2020-01-04 2019-04-21      160  ...  FORT WALTON BEACH    IA  76301
28 2020-07-16 2019-06-09      136  ...             DURHAM    NC  94002
29 2020-07-28 2019-10-06      175  ...            DURANGO    OK  54703
30 2020-04-09 2019-03-21      112  ...            NORWALK    VT  68117
31 2020-07-24 2019-04-24       85  ...             EASTON    OH  43068
32 2020-04-12 2019-07-23      157  ...           STAUNTON    IL  29464
33 2020-05-12 2019-01-04      132  ...          SPEARFISH    CA  56001
34 2020-08-17 2019-03-19       15  ...              TYLER    TN  94112
35 2020-07-19 2019-03-06       56  ...              BOWIE    UT  19608
36 2020-12-13 2019-10-14       87  ...        BARNES CITY    CA  96822
37 2020-03-10 2019-06-04       57  ...              OMAHA    NE   4401
38 2020-05-12 2019-04-22       18  ...        SAN LEANDRO    TN  56231
39 2020-03-11 2019-10-23       92  ...           THORNTON    IL  23693
40 2020-09-19 2019-03-06      128  ...            LEAWOOD    MA  94014
41 2020-03-20 2019-01-14      137  ...              MIAMI    GA  53081
42 2020-08-28 2019-12-12      174  ...        ROCK VALLEY    CO  92840
43 2020-02-20 2019-01-17       46  ...          LEXINGTON    IL  95610
44 2020-11-28 2019-07-13       37  ...              ASPEN    TX  78213
45 2020-03-26 2019-12-25      135  ...      SAN FRANCISCO    GA  48076
46 2020-03-03 2019-09-21      151  ...             OXFORD    TX  30058
47 2020-11-28 2019-10-18      173  ...          FRANKFORT    KY   7039
48 2020-05-04 2019-02-07       30  ...            ORLANDO    CA  46268
49 2020-05-03 2019-07-07      150  ...         GREAT NECK    MI  52761

[50 rows x 9 columns]

In [65]:
M