<a href="https://colab.research.google.com/github/oyuka1112/oyuka1112/blob/main/dataset1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [36]:
import pandas as pd
from matplotlib import pyplot as plt

In [91]:
#import all the files
contacts = pd.read_excel(r'Df_contacts.txt.xlsx').set_index("CONT_ID") #set index as ID 
conversation= pd.read_excel(r'Df_conversation.xlsx').set_index("CONV_ID")
mails= pd.read_excel(r'Df_mails.xlsx').set_index("MAIL_ID")
responses= pd.read_excel(r'Df_responses.xlsx').set_index("RESPONSE_ID")

In [95]:
mails.sort_values(by = "MAIL_DATE", axis = 0 )

         CONT_ID  MAIL_MONTH  MAIL_DATE
MAIL_ID
91            45           1 2015-01-01
191           94           1 2015-01-22
216          145           1 2015-01-23
276           55           2 2015-02-04
32           193           2 2015-02-06
...          ...         ...        ...
37           198          12 2018-12-14
99            65          12 2018-12-15
76            40          12 2018-12-19
53           142          12 2018-12-22
300          150          12 2018-12-22

[300 rows x 3 columns]

In [65]:
M